@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
  height: 100vh;
  background-color: hwb(202 72% 5% / 0.714);
}
#menu-h{
  background-color: hwb(202 72% 5% / 0.714);
  box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
  padding: 10px;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
    padding: 10px;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(246, 248, 250);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);

}
#menu-h ul li:last-child a:hover {
  float: right;
  background-color: rgb(253, 253, 253);
}

.header-banner{
  box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  gap:16px;
  background-color: rgb(147, 198, 240);
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
  padding: 10px;
}


button {
  background-color: #2192FF;
  height: 90%;
  border: none;
  
  width: 90%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
  padding: 10px;
}

button:hover {
  background: white;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
  color: hsl(255, 89%, 50%);
}

.div1{
  display: flex;
  background-color: hsl(210, 100%, 99%);
  width: 100%;
  border-radius: 12px;
  box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
  padding: 10px;
}
.div2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87c2f1;
  color: #fff;
  width: 100%;
  border-radius: 12px;
  box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
}

.div3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 40%;
  height: 30%;
  gap: 10px;
  border-radius: 10px;
  background-color: #f3f6f8;
  box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
  padding: 10px;
}


h2 {
  font-size: .9rem;
 
  color: #2e2c2c;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 8px 8px 12px hsla(0, 2%, 10%, 0.667);
  padding: 10px;
  margin-top: 2px;
  background-color: #fff;

}
   
  

@media screen and (max-width: 600px) {
  #menu-h ul {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #menu-h ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #menu-h ul li:last-child a {
      float: none;
  }
  
}

@media screen and (max-width: 911px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
  
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .div3 {
      display: flex;
      flex-direction: column;
      align-items: center;
     
  }

}